{% extends "eyes.html" %} {% block title %}
<title>Accessories</title>
{% endblock %} {% block jumbo %}
<img
  class="eye-img mx-auto d-block img-thumbnail rounded-circle"
  height="300px"
  width="300px"
  src="https://cdn.pixabay.com/photo/2018/01/07/22/36/bag-3068441_960_720.jpg"
/>
{% endblock %}

{% block img1 %}
src="https://images-na.ssl-images-amazon.com/images/I/81n9N0X0TeL._UL1500_.jpg"
<h4>Fabric Knot</h4>
{% endblock %} {% block img2 %}
src="https://images-na.ssl-images-amazon.com/images/I/81mavw0VuUL._UL1500_.jpg"
<h4>Jewellery Box</h4>
{% endblock %} {% block img3 %}
src="https://images-na.ssl-images-amazon.com/images/I/719DiShs-1L._UL1500_.jpg"
<h4>Hair Accessory</h4>
{% endblock %} {% block img4 %}
src="https://images-na.ssl-images-amazon.com/images/I/81%2B%2BtJHUKsL._UL1500_.jpg"
<h4>Sling Bag</h4>
{% endblock %} {% block img5 %}
src="https://images-na.ssl-images-amazon.com/images/I/41I3TSIWgdL.jpg"
<h4>plastic Jewellery Box</h4>
{% endblock %} {% block img6 %}
src="https://images-na.ssl-images-amazon.com/images/I/41ugw8N2lkL.jpg"
<h4>Winter Faux Fur Gloves</h4>
{% endblock %}