<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='./favicon/site.webmanifest') }}">

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}" />
    {% endblock %}

        {% block title %}
        <title>CA Cosmetics</title>
        {% endblock %}

    </head>

    <nav class="nav justify-content-end sticky-top py-1">
        <a class="navbar-brand img-fluid p-1" href="/">
            <img src="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}" >
               
        </a>

        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/eyes">EYES</a>
                <a class="dropdown-item" href="/face">FACE</a>
                <a class="dropdown-item" href="/eyebrow">EYBROWS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/perfume">PERFUMES</a>
                <a class="dropdown-item" href="/accessories">ACCESSORIES</a>
                <a class="dropdown-item" href="/bestsellers">BEST SELLER</a>
            </div>
        </li>
        </li>

        <li class="nav-item nav-pills nav-fill active">
            <a class="nav-link" href="/videos">Videos</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/reviews">Reviews</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
        </li>
    </nav>
    {% block body %}
    replace
    {% endblock %}

    </body>
</html>