{% extends "eyes.html" %} {% block title %}
<title>BestSellers</title>
{% endblock %} {% block jumbo %}
<img
  class="eye-img mx-auto d-block img-thumbnail rounded-circle"
  src="https://static.vecteezy.com/system/resources/previews/000/658/320/non_2x/stamp-bestseller-vector.jpg"
/>
{% endblock %} {% block img1 %}
src="https://images-na.ssl-images-amazon.com/images/I/31f1ypzDotL.jpg"
<h4>Body Lotion</h4>
{% endblock %} {% block img2 %}
src="https://images-na.ssl-images-amazon.com/images/I/71Qj16dWSSL._SL1500_.jpg"
<h4>Vinegar Shampoo</h4>
{% endblock %} {% block img3 %}
src="https://images-na.ssl-images-amazon.com/images/I/61PLfUwYgpL._SL1080_.jpg"
<h4>Hair Oil</h4>
{% endblock %} {% block img4 %}
src="https://images-na.ssl-images-amazon.com/images/I/71Hc7D%2BvCEL._SL1080_.jpg"
<h4>Foaming Face Wash</h4>
{% endblock %} {% block img5 %}
src="https://images-na.ssl-images-amazon.com/images/I/61nBoAnPSEL._SL1500_.jpg"
<h4>Coconut Oil</h4>
{% endblock %} {% block img6 %}
src="https://images-na.ssl-images-amazon.com/images/I/71AqxPkdZ7L._SL1500_.jpg"
<h4>Aloevera Oil</h4>
{% endblock %}
