{% extends "eyes.html" %} {% block title %}
<title>Eyebrows</title>
{% endblock %} {% block jumbo %}
<img
  class="eye-img mx-auto d-block img-thumbnail rounded-circle"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnbXTrRvOrIMFsmJ-kKXo2xGDI0cudj6fvhg&usqp=CAU"
/>
{% endblock %} {% block img1 %}
src="https://images-na.ssl-images-amazon.com/images/I/61kjKhKp4XL._SL1500_.jpg"
<h4>Swiss Beauty Eyebrow Pencil</h4>
{% endblock %} {% block img2 %}
src="https://images-na.ssl-images-amazon.com/images/I/61-nMm4s2%2BL._SL1500_.jpg"
<h4>Swiss Beauty Eyebrow Palette</h4>
{% endblock %} {% block img3 %}
src="https://images-na.ssl-images-amazon.com/images/I/61-s4tbb1gL._SL1071_.jpg"
<h4>Eyebrow Shaping Stencil</h4>
{% endblock %} {% block img4 %}
src="https://images-na.ssl-images-amazon.com/images/I/61VPb8CWr7L._SL1500_.jpg"
<h4>Eye Lash Curler</h4>
{% endblock %} {% block img5 %}
src="https://images-na.ssl-images-amazon.com/images/I/71mIkPrBauL._SL1500_.jpg"
<h4>2 Color Eyebrow Cake Enhancer</h4>
{% endblock %} {% block img6 %}
src="https://images-na.ssl-images-amazon.com/images/I/71mj3CHgO4L._SL1500_.jpg"
<h4>Eyebrow Defining Pencil</h4>
{% endblock %}
