{% extends "eyes.html" %} {% block title %}
<title>Face</title>
{% endblock %} {% block jumbo %}
<img
  class="eye-img mx-auto d-block img-thumbnail rounded-circle"
  src="https://cdn.shopify.com/s/files/1/0066/8719/5183/products/kylie-foaming-cleanser_720x.jpg?v=1599085289"
/>
{% endblock %}

{% block img1 %}
src="https://images-na.ssl-images-amazon.com/images/I/51%2B14K%2BXFvL._SL1000_.jpg"
<h4>Lakme Rose Face Powder</h4>
{% endblock %}

{% block img2 %}
src="https://images-na.ssl-images-amazon.com/images/I/61yMSNCk6tL._SL1500_.jpg"
<h4>Swiss Beauty MakeUp Fixer</h4>
{% endblock %}

{% block img3 %}
src="https://images-na.ssl-images-amazon.com/images/I/41Vz4l4PRUL._SL1000_.jpg"
<h4>Lakme Makeup Primer</h4>
{% endblock %}

{% block img4 %}
src="https://images-na.ssl-images-amazon.com/images/I/51j-audQp0L._SL1000_.jpg"
<h4>Lakme Foundation</h4>
{% endblock %}

{% block img5 %}
src="https://images-na.ssl-images-amazon.com/images/I/51RuiH7IZzL._SL1000_.jpg"
<h4>Lakme 9 to 5 Mousse Foundation</h4>
{% endblock %}

{% block img6 %}
src="https://images-na.ssl-images-amazon.com/images/I/61Bi-BB4yoL._SL1000_.jpg"
<h4>Lakme Face Sheer Highlighter</h4>
{% endblock %}

